*{
    margin: 0;
    padding: 0;
     scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-variation-settings:
      "MONO" 1;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(
      115deg,
      #000000 0%,
      #0c0c0c 20%,
      #1b1b1b 40%,
      #f8f5e9 75%,
      #ffffff 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.05) 100%
    );
    mix-blend-mode: overlay;
    pointer-events: none;
  }
.house{
    display: flex;
    gap: 90px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home img{
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.form{
    background: #1b1b1b54;
    width: 400px;
    height: 490px;
    color: #f8f5e9;
    padding-top: 40px;
    padding-left: 30px;
    border-radius: 20px;
    position: absolute;
    margin: 15px 0;
}
.form h1{
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
}

.form input{
    padding: 9px 18px;
    width: 360px;
    border-radius: 15px;
    border: none;
    color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 16px;
    background: transparent;
    border-bottom: 2px solid black;
    transition: 0.5s;
    outline: none;
}

.form input::placeholder{
    color: #f8f5e9a1;
}

.form input:hover{
    border-bottom: 2px solid white;
}
.form label{
    padding-left: 10px;
    margin-top: 20px;
}

.form button{
    padding: 9px 18px;
    width: 100px;
    border-radius: 15px;
    border: none;
    margin-top: 7px;
    margin-bottom: 5px;
    background: #4b4a4a;
    color: aliceblue;
    box-shadow: inset 3px 6px 14px gray;
    transition: 0.4s;
}

.form p a{
    text-decoration: none;
    color: #e7e2e2;
    transition: 0.3s;
}
.form p a:hover{
    border-bottom: 1.5px solid rgb(233, 217, 217)  ;
    color:aliceblue ;
}

.form button:hover{
    transform: scale(1.1);
}

@media (max-width: 1100px){
    .house{
        gap: 15px;
        flex-direction: column-reverse;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .home img{
        width: 500px;
        height: 600px;
    }

}
    


