*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-variation-settings:
      "MONO" 1;
}
body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(
      115deg,
      #000000 0%,
      #0c0c0c 20%,
      #1b1b1b 40%,
      #f8f5e9 75%,
      #ffffff 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.05) 100%
    );
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  .prop{
    padding-top: 150px;
  }
  .nuvo h1{
    font-size: 60px;
    font-weight: bolder;
    color: aliceblue;
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal;
  }

  .nuvo{
    text-align: center;
  }

  .firstimage{
    display: flex;
  }

  .house6{
        width: 700px;
        background: #f7f7fb;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
        transition: 0.5s;
        margin: 10px 40px;
  }
   img{
        width: 140%;
        height: 220px;
        object-fit: cover;
        transition: 0.6s;
        overflow: hidden;
    }

    img:hover{
        transform: scale(1.05);
        
        
    }

    .building{
        align-items: center;
        text-align: center;
    }

    @media (max-width: 1100px){
        .firstimage{
            display: flex;
            flex-wrap: wrap;
        }

        .prop{
            padding-top: 90px;
        }
    }
    